<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arjuna the wise</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="Webview">
        <div id="root">
            <div id="app">
                <div class="section">
                    <div class="Gola"></div>
                    <div class="dusragola"></div>
                    <h1>I am Arjuna</h1>
                    <p>I help students to build their Confidence</p>                       
                </div>
            </div>
        </div>
    </div>
</body>
</html>
